<p id="notice"><%= notice %></p>

<p>
  <strong>Answers:</strong>
  <%= @example.answers %>
</p>

<p>
  <strong>Definition:</strong>
  <%= @example.definition_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @example.name %>
</p>

<p>
  <strong>Class name:</strong>
  <%= @example.class_name %>
</p>

<%= link_to 'Edit', edit_example_path(@example) %> |
<%= link_to 'Back', examples_path %>
